body{
    background-color: whitesmoke;
}
.tudo{
    margin-top: 10rem;
    margin-left: 10rem;
}
h1{
    font-size: 2.2em;
}

#btn{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(143, 226, 143);
}

/*celulares */

@media (max-width: 480px) {
    .tudo{
        margin-top: 0;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 18em;
    }
    h1{
        font-size: 1em;
        padding: 15px;
        flex-basis: 70%;
        margin: 0 auto;
        text-align: center;
    }
}
